.cookies-alert {
  background: $light-gray;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: $s 0;
  position: fixed;
  right: 0;
  width: 100%;
  z-index: 1030;

  .cookies-alert-body {
    margin: 0 $xxl;
  }

  .cookies-alert-buttons {
    margin-right: $xxl;
    padding: $l 0;

    a {
      margin-right: $m;
    }
  }
}

.hide {
  display: none;
}
