.download-eos-icons-button {
  align-items: center;
  background: $grad-init;
  border-radius: 27px 0 0 27px;
  color: $light-color;
  display: flex;
  flex-direction: row;
  height: $eos-48;
  padding-right: $s;
  position: fixed;
  right: -150px;
  text-decoration: none;
  top: 70%;
  transition: all 0.5s;
  width: 190px;
  z-index: $z-index-10;

  &:hover {
    background: $grad-init;
    color: $light-color;
    right: 0;
  }

  .download-icons-logo {
    color: $light-color;
    margin-left: $s;
    margin-right: $s;
    width: 40px;
  }

  .download-icons-text {
    font-family: $font-family;
    font-size: $font-size;
  }
}
